#h1{
    text-align: center;
    font-size: 3rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: navy;
    padding: 10px;
    
    
    
}

#but1{
    background-color: orange;
    padding: 10px;
    text-decoration: none;
    color:black;
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#but2{
    background-color: navy;
    padding: 10px;
    text-decoration: none;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
   
}
#h2{
    color:orange;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right:20rem;
}
#d2{
    background-color:antiquewhite;
    padding-left: 10rem;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px rgb(81, 77, 77);
}

.but3,.but4,.but5,.but6{
    width:100%;
    background-color: orange;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color:black;
}
.d4{
    display: none;
}
 .but3:hover .d4{
    display: block;
    position:absolute;
}


 