body{
    background-color:black;
}


.top {
            background-color: aqua;
            margin-top: 0px;
            padding: 10px;
            color: black;
            font-size: 1rem;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        } 
        .list{
            background-color: rgb(0, 0, 0);
            display: flex;
            color: white;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           
        }
        .list a:link{
            color: white;
            background-color: transparent;
        }
       .list a:visited{
            color: white;
            background-color: transparent;
        }

        nav{
            display: flex;
            padding: 5px;
            background-color: blueviolet;
        }
        .rj{
            color: white;
            font-size: larger;
           font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .navBar #a2{
           margin-left: 50px;
            padding:10px ;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-decoration: none;
        }
        .navBar #a2:link,a:visited{
            color:white;
             background-color: transparent;
        }
        .navBar #a2:hover{
            background-color: white;
            color: blueviolet;
        }
        main{
            height: 500px;
            width: 100%;
            background-size: cover;
            animation:rj 20s infinite;
            background-image: url("https://e0.pxfuel.com/wallpapers/167/769/desktop-wallpaper-computer-science-engineering-network-engineer.jpg");
            color: black;
        }
         @keyframes rj {
            20%{
                transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220925/pngtree-education-concept-computer-keyboard-with-education-information-enter-concept-photo-image_9481534.jpg");
            }
            40%{
                background-image: url("https://w0.peakpx.com/wallpaper/296/642/HD-wallpaper-computer-science-and-engineering-vision.jpg");
            }
            60%{
                background-image: url("https://c1.wallpaperflare.com/preview/993/374/570/technology-developer-touch-finger.jpg");
            }
            80%{
                background-image: url("https://e1.pxfuel.com/desktop-wallpaper/744/650/desktop-wallpaper-of-the-best-engineering-from-across-the-web-computer-science-engineering.jpg");
            }
            100%{
                background-image: url(" https://c4.wallpaperflare.com/wallpaper/205/485/263/computer-engineering-science-tech-wallpaper-preview.jpg")
            }
        }
        .inside{
            padding: 50px;
            position: absolute;
            left: 100px;
            top: 200px;
            color:white;
        }
        #sp1{
            font-size: 3.4rem;
            color:transparent;
            background-image:url("https://img.pikbest.com/ai/illus_our/20230427/2e176a7cddb2bdd62930423053841d67.jpg!w700wp");
            background-clip: text;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
         .child{
            display:none ;
          margin-left:40px;
          position: absolute;
          min-width: 90px;
          padding: 20px;
          padding-left:20px;
          background-color: aliceblue;
        } 
        
        .parent {
            display: inline-block;
            position: relative;

        }
        .child .a1{
            text-decoration: none;
            color:black;
            padding:10px;
        }

        .parent:hover .child{
            display:block;
            
            
        }
        .a1:hover{
            color:blue;
        }
        
        
        .form1{
            display: none;
            position: absolute;
            top: 150px;
            right: 40px;
            text-align: center;
            padding: 30px;
            background-image: url("https://p0.piqsels.com/preview/841/173/306/web-network-technology-developer.jpg");
            background-size: cover;
            color:white;
            background-repeat: no-repeat;
            
        }
        .form1 input,select{
            padding:10px;
        }
        .enq:hover .form1{
            display: inline-block;
            
        }
        .form2{
            display: none;
            padding: 30px;
            color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.2rem;
            text-align: center;
            background-image: url("https://media.livewallpapers.com/images/high/vibrant-abstract-phone-wallpaper-186.webp");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            left: 180px;
            top: 20px;
        }
        .apply:hover .form2{
            display: block;
        }

        #key{
            color: rgb(57, 113, 168);
            font-size: 3rem;
            text-shadow:2px 2px 2px white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        }

        #flex1{
    display:flex;
}
#box1{
    height:14rem;
    width:23rem;
    background-color: rgb(57, 113, 168);
    border-radius:15px;
    color:white;
    margin-left:1rem;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#box1:hover{
background:linear-gradient(125deg,rgb(128, 196, 128), rgb(57, 113, 168));
box-shadow:1px 2px 10px white;
transition: 0.5s;
margin-top:-20px;
}
#box1i{
    background-color: black;
    height:5rem;
    text-shadow :1px 1.5px 8px white;
    width:5rem;
    border-radius:50%;
    margin-top:-30px;
}
.fa-chalkboard-user{
    margin-top:30px;
    font-size:1.8rem;   
}
.fa-computer{
    margin-top:30px;
    font-size:1.8rem; 
}

.fa-medal{
    margin-top:30px;
    font-size:1.8rem; 
}
.fa-slack{
    margin-top:30px;
    font-size:1.8rem; 
}

#key2{
    text-align: center;
    color:orange;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



 #front1{
    height: 14rem;
    width:27rem;
    box-shadow: 5px 10px 10px black;
    margin-left: 1.1rem;
    background:skyblue;
    background-image:url(akasht5.jpg); 
        background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}
#front2{
    height: 14rem;
    width:27rem;
    box-shadow: 5px 10px 10px black;
    margin-left: 1.1rem;
    background:skyblue;
    background-image:url(akasht4.jpg); 
        background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}
#front3{
    height: 14rem;
    width:27rem;
    box-shadow: 5px 10px 10px black;
    margin-left:1.1rem;
    background:skyblue;
    background-image:url(akasht10.jpg); 
        background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}
#front4{
    height: 14rem;
    width:27rem;
    box-shadow: 5px 10px 10px black;
    margin-left: 1.1rem;
    background:skyblue;
    background-image:url(akasht8.jpg); 
        background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}
#front5{
    height: 14rem;
    width:27rem;
    box-shadow: 5px 10px 10px black;
    margin-left: 1.1rem;
    background:skyblue;
    background-image:url(akasht9.jpg); 
        background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}
#front6{
    height: 14rem;
    width:27rem;
    box-shadow: 5px 10px 10px black;
    margin-left: 1.1rem;
    background:skyblue;
    background-image:url(akasht6.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}
#front1:hover{
    transform:scale(1.02);
    color:white;
    box-shadow:5px 10px 10px gray ; 
}
#front2:hover{
    transform:scale(1.02);
    color:white;
    box-shadow:5px 10px 10px gray ; 
}
#front3:hover{
    transform:scale(1.02);
    color:white;
    box-shadow:5px 10px 10px gray ; 
}
#front4:hover{
    transform:scale(1.02);
    color:white;
    box-shadow:5px 10px 10px gray ; 
}
#front5:hover{
    transform:scale(1.02);
    color:white;
    box-shadow:5px 10px 10px gray ; 
}
#front6:hover{
    transform:scale(1.02);
    color:white;
    box-shadow:5px 10px 10px gray ; 
}

#f1{
    background:navy;
    border-radius: 5px;
    color:orange;
    padding:10px;
    margin-top:1.1px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
#f2:hover{
    color:aliceblue;
}
#f2{
    text-align: center;
    color:aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#b1{
    padding:6px;
    width:3rem;
    background-color:rgb(70, 239, 70);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius:5px;
    border-left:10px solid green;
    border-right:3px solid green;
    border-top:3px solid green;
    border-bottom:3px solid green;
    color:green;
    text-decoration: none;

}
#b1:hover{
    background:white;

}
#flex2{
    display: flex;
    margin-top: 30px;;
}
#foot1{
    background-color:rgb(112, 112, 142);
    height: 23rem;
    color:white
}
#foot2{
    width:30%;
    margin-left: 2rem;
    height: 23rem;
    margin-top: 2rem;

}

#foot3{
    width:18%;
    margin-left: 2rem;
    height: 15rem;
    margin-top: 2rem;

}
#foot4{
    width:18%;
    margin-left: 2rem;
    height: 15rem;
    margin-top: 2rem;

}
#ed{
    border:2px solid navy;
    background-color: beige;
    padding:8px;
    border-radius:5px ;
}
.fa-paper-plane{
    margin-top: 3px;
    padding: 5px;
    color: black;
}
.fa-paper-plane:hover{
    transform: scale(1.2);
     margin-top: -10px;
}
.fa-facebook{
    padding:3px;
    font-size: 1.5em;
}
.fa-facebook:hover{
    transform: scale(1.3);
    margin-top: -10px;
}
.fa-instagram{
    padding:3px;
    font-size: 1.5em;
}
.fa-instagram:hover{
     transform: scale(1.3);
      margin-top: -10px;
}

.fa-x-twitter{
    padding:3px;
    font-size: 1.5em;
}
.fa-x-twitter:hover{
    transform: scale(1.3);
     margin-top: -10px;
}
.fa-linkedin{
    padding:3px;
    font-size: 1.5em; 
}
.fa-linkedin:hover{
    transform: scale(1.3);
     margin-top: -10px;
}
.fa-github{
    padding: 3px;
    font-size: 1.5rem;
}
.fa-github:hover{
    transform: scale(1.3);
    
}
.fa-youtube{
    padding: 3px;
    font-size: 1.5rem;
}
.fa-youtube:hover{
    transform: scale(1.3);
     
}


