#div2{
    height:620px;
    width:80%;
    background: linear-gradient(112deg,aqua,navy,rgb(42, 150, 150));
}
#head1{
    font-size: 3.4rem;
    text-align: center;
    padding-top: 140px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}
#head2{
   font-size: 3rem;
    text-align: center;
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white; 
}

#sp1{
    font-size: 1rem;
    margin-top: -50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}
#head3{
    color:orange;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#flex{
    display: flex;
    
}
#iee1{
    padding: 10px;
}

#div3{
  height:620px;
    width:100%;
    background:linear-gradient(124deg,black, rgb(54, 110, 110),black);
}
#head4{
    text-align: center;
    color:aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
label{
    color:orange;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.01rem ;
}

input{
    padding: 8px;
    border:2px solid white;
    border-radius: 2px;
    
    background-color: whitesmoke;
}
input:hover{
    transform:scale(1.03);
}
#ip1{
    width: 36%;
}
#ip2{
    width: 33%;
}
#bu1{
    padding:10px;
    margin-left:20%;
    margin-top:40px;
    background-color: green;
    width:100px;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:1px solid white;
}
#bu1:hover{
    background-color: darkgreen;
}
#bu2{
    padding:10px;
    margin-left:20%;
    margin-top:40px;
    background-color: red;
    width:100px;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:1px solid white;
}
#bu2:hover{
    background-color: darkred;
}

#tk1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}